body{
    background-color: rgb(240, 207, 159);
}

p{
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(153, 122, 21);
}

li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(175, 75, 29);
}